body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url(./street.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

img{
  height: 30vh;
}

button {
  background-color: rgb(84, 84, 84);
}